.header {
  font-family: 'Inconsolata', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {color: grey;}

#selected {color:grey;}


.wrapper {margin-left: auto;
          margin-right: auto;
          width: 100%;
          height: 600px;
          }


.header {
  width: 100%;
  height:60px;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #D8D8D8;
  border-width: 1px;
  margin-bottom: 15px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(255,255,255,0.8);
  }

.header .name {font-family: 'Inconsolata', ;
              font-size: 20px;
              letter-spacing: 1;
              color: grey;
              display: inline-block;
              vertical-align: baseline;
              padding-top: 30px;
              padding-left: 82px;
              }

.main-nav {margin-right: 70px;}

.main-nav a {font-size: 15px;
            letter-spacing: 2;
            float:right;
            margin-right: 15px;
            display: inline-block;
            vertical-align: baseline;
            padding-top: 30px;
            }

.content {
  margin-top: 150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

h1 {font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top:70px;
    letter-spacing: 0.15em;
    font-size: 30px;
    color: #000;}

p{font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: grey;
  font-size: 14px;
  line-height: 1.5;
  color: grey;
  }


.footer{
  width: 100%;
  height:250px;
  text-align: center;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid;
  border-color: #D8D8D8;
  border-width: 1px;}

.footer-box {margin-top: 60px;
            width: 325px;
            height: 250px;
            display: inline-block;

          }

.icon-box {width: 60px;
          height: 60px;
          margin-top: auto;
          margin-left: auto;
          margin-right: auto;
          opacity: 0.6;
          }

.icon-box:hover a {
  display: block;
  -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  display: block;
  background: rgba(255,255,255,0.7);
      }
